Options -Indexes

RewriteEngine On
RewriteBase /

Redirect /site-builder/app/$ /site-builder/app/projects/

# don't rewrite requests to json files:
RewriteRule ^([^.?]+).json(.*)$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*$ /site-builder/app/ [L]
