:root {
	--max-page-width: 1000px;
	--bg-color: #1b1b1d;
	--link-color: #3d9249;
	--selection-color: #5cb85c;
	--button-color: var(--selection-color);
	--sidebar-color: #27272c;
	--sidebar-width: 0px;
	--sidebar-display: none;
	--thumbnail-size: 100px;
	--project-preview-size: 225px;
	--nav-bar-height: 56px;
}

@media screen and (min-device-width: 1024px) {
:root {
	--sidebar-width: 300px;
	--sidebar-display: block;
}
}


/* force scrollbar */
html { overflow-y: scroll; }

html, body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #ddd;
	background: var(--bg-color);
	padding: 0;
	margin: 0;
	letter-spacing: 0.05em;
	/*-webkit-font-smoothing: antialiased;*/
}

*:focus {
    outline: none;
	box-sizing: border-box;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	 text-decoration: underline;
}

button {
	border: none;
	width: 100%;
	color: #FFF;
	background: var(--button-color);
	margin: 10px 0;
	line-height: 2em;
    border-radius: 4px;
}

.icon-button {
	width: initial;
	background: none;
}

h1 {
	margin: 10px 0;
	font-weight: normal;
}

.header {
	/* image-rendering: pixelated; */
    display: inline-block;
    height: 100%;
}

.header a {
	display: inline-block;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.header img {
	max-width: 100%;
	max-height: 100%;
	height: calc(var(--nav-bar-height) - 32px);
}

.collapsible {
	margin: 10px -10px;
}

.collapsible-header {
	/*background: #4a4a4e;*/
	padding: 5px 30px;
	position: relative;
	cursor: pointer;
}

.collapsible-header:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 12px;
    top: 50%;
    margin-top: -2px;
    height: 0;
    width: 0;
    border-top: 4px solid #aaa;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    pointer-events: none;
}

.collapsed .collapsible-header:before {
    left: 16px;
    top: 50%;
    margin-top: -5px;
    height: 0;
    width: 0;
	border-left: 4px solid #aaa;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    pointer-events: none;
}

.collapsible-panel {
	display: block;
	border-bottom: 1px solid #4a4a4e;
	padding: 10px;
}

.collapsed .collapsible-panel {
	display: none;
}

.tab-bar {
	padding-top: 5px;
    margin: 0 -10px;
}

.tab {
	padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
}

.tab.active {
	background: #36363c;
	color: #fff;
	cursor: default;
}

.tab-panel {
	display: none;
}

.tab-panel.active {
	display: block;
	background: #36363c;
    margin: 0 -10px;
    padding: 10px;
}

.breadcrumbs {
	margin: 8px;
}

.drop-container {
	width: 100%;
	height: 100vh;
}

/* Thumbnail View: */

.thumbnail-view {
	/*width: 100%;*/
	padding: 0 8px;
}

.thumbnail-view .thumbnail {
	margin: 0 8px 16px;
    box-sizing: border-box;
    position: relative;
    border: none;
    overflow: hidden;
    cursor: pointer;
	width: var(--project-preview-size);
	height: var(--project-preview-size);
	float: left;
	display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-view:before,
.thumbnail-view:after {
	content: " ";
	display: table;
}

.thumbnail-view:after {
	clear: both;
}

.thumbnail-view .thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.thumbnail-view .thumbnail .overlay {
	position: absolute;
	top: 50%;
	background: linear-gradient(transparent, rgba(27,27,29,0.5));
	width: 100%;
	height: 50%;
}

.thumbnail-view .thumbnail .title {
	position: absolute;
	width: 100%;
	bottom: 0;
	color: #FFF;
	padding: 16px;
	box-sizing: border-box;
}


.project-container {
	/*width: 100%;
	height: 100%;*/
	margin-left: var(--sidebar-width);
	margin-right: var(--sidebar-width);
}

.gallery {
    width: 100%;
	height: 100%;
    margin: 0;
		/*overflow: hidden;*/
}

.gallery>div {
	background: #1b1b1d;
    float: left;
    box-sizing: content-box;
    position: relative;
	margin: 0 8px 16px;
	border: none;
	/*overflow: visible;*/
	/*cursor: pointer;*/
}

.gallery img {
	/*height: 150px;*/
	display: block;
	width: auto;
	height: 100%;
}

.gallery img.square {
	object-fit: scale-down;
	width: 100%;
}

.gallery .selected {
	outline: 2px solid #02c546;
	background: #02c546;
}

/* NavBar: */
.nav-bar {
	list-style-type: none;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    display: inline-block;
	width: 100%;
	height: var(--nav-bar-height);
	background: var(--bg-color);
	z-index: 10;
}

.nav-bar li {
	display: inline;
}

.nav-bar li a {
	padding: 0 16px;
    color: white;
    line-height: var(--nav-bar-height);
    box-sizing: content-box;
    display: inline-block;
	vertical-align: top;
}

.nav-bar li a:hover {
	text-decoration: none;
	background: var(--selection-color);
}

.nav-bar .edit {
	display: inline-block;
    float: right;
    margin: 12px 16px;
}

/*
App:
*/

.app {
	margin-top: var(--nav-bar-height);
}

#root {
	margin-left: var(--sidebar-width);
}

.sidebar {
	background: var(--sidebar-color);
	width: var(--sidebar-width);
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 16px;
	box-sizing: border-box;
	margin-top: var(--nav-bar-height);
	display: var(--sidebar-display);
}
/*
Admin:
*/

#root-admin {
}

.projects-container {
	width: var(--sidebar-width);
	height: 100%;
	background: var(--sidebar-color);
	position: fixed;
	padding: 8px;
	box-sizing: border-box;
}

.project-item {
    box-sizing: border-box;
    position: relative;
    padding: 4px 8px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.project-item.hidden {
	color: rgba(255, 255, 255, 0.2);
}

.project-item.over {
	outline: 1px dashed;
    outline-offset: -1px;
}

.image-item {
	width: var(--thumbnail-size);
	height: var(--thumbnail-size);
    float: left;
    box-sizing: content-box;
    position: relative;
	margin: 0px;
	padding: 8px;
	border: none;
	/*overflow: visible;*/
	cursor: pointer;
}

.image-item:hover, .project-item:hover {
	background: rgba(255,255,255,0.1);
}

.image-item .delete, .project-item .delete {
	display: none;
}

.image-item:hover .delete, .project-item:hover .delete {
	display: block;
}

.image-item .loading {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
}

.image-item.dragging {
	opacity: 0.5;
}

.image-item.hidden img {
	opacity: 0.2;
}

.image-item img {
	object-fit: scale-down;
	width: 100%;
	height: 100%;
	display: block;
}

.admin-menu {
	background: var(--sidebar-color);
	width: var(--sidebar-width);
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	padding: 10px;
	box-sizing: border-box;
}

input,
textarea,
select {
	width: 100%;
	background: #1b1b1d;
	border: 1px solid #4a4a4e;
	color: #eee;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	box-sizing: border-box;
	padding: 4px 8px;
  -webkit-appearance: none;
	border-radius: 0px;
	margin-bottom: 10px;
	letter-spacing: 0.05em;
}

.plain-select {
	position: relative;
}

.plain-select:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 16px;
    top: 50%;
    margin-top: -1px;
    height: 0;
    width: 0;
    border-top: 4px solid #aaa;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    pointer-events: none;
}

.admin-menu input[type="checkbox"] {
	width: inherit;
	-webkit-appearance: checkbox;
}

.admin-menu label {
	margin: 5px 1px 1px;
	display: inline-block;
	color: #888;
}
.admin-menu label:empty {
	display: none;
}

.admin-menu .seperator {
	border-bottom: 1px solid #4a4a4e;
	margin: 20px -10px;
}

.admin-menu table {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width: 80%; */
    /* display: block; */
}

.admin-menu table td:nth-child(1) {
    text-align: right;
    color: #888;
}

.project-thumbnail {
	width: var(--project-preview-size);
	height: var(--project-preview-size);
	overflow: hidden;
	background: var(--bg-color);
	position: relative;
}

.project-thumbnail.over {
	outline: 1px dashed;
    outline-offset: -1px;
}

.project-thumbnail img {
	/*object-fit: scale-down;*/
    width: 100%;
    height: 100%;
    display: block;
	cursor: move;
}

.project-thumbnail .empty {
	padding: 16px;
}

.status-bar {
	position: fixed;
	width: 100%;
	padding: 8px;
	bottom: 0;
	background: var(--bg-color);
	box-sizing: border-box;
}

.right { float: right; }

ul.defaultView {
	margin: 0;
	padding: 0;
}

.defaultView li {
	color: #fff:
	list-style-type: none;
    box-sizing: border-box;
    position: relative;
    padding: 4px 8px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.defaultView li:hover {
	background: var(--selection-color);
}

.defaultView a {
	color: #aaa;
}

.defaultView a:hover {
	text-decoration: none;
	color: #fff;
}

/* project-view: */

.project-view {
	padding: 0 8px;
}

.project-view .nav-icon {
	position: fixed;
	color: #fff;
	opacity: 0.75;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	/*background: var(--bg-color);*/
}
.project-view .nav-icon:hover {
	opacity: 1;
}

.project-view .nav-icon.close {
	right: 24px;
	top: var(--nav-bar-height);
}

.project-view .nav-icon.prev {
    left: var(sidebar-width);
    top: 0px;
    height: 100%;
    width: 48px;
    padding-top: 50vh;
	padding-left: 16px;
    box-sizing: border-box;
}

.project-view .nav-icon.next {
    right: 0px;
    top: 0px;
    height: 100%;
    width: 48px;
    padding-top: 50vh;
	padding-right: 16px;
    box-sizing: border-box;
}
